/* css file */
/* Its in ordered alphabetically (from classes to ids) */
/* id's start here*/
#contact-link {
    margin-right: 30px;
    text-align: center;
    text-decoration: none}

/* rmeoving repetitive code, backgorund color for all 3 pages*/
#contact-page, #gallery-page, #membership-page {
    background: linear-gradient(135deg, #111a2e 0%,
     #2c4366 25%, #aa192d 60%, #f4a88f 100%);
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh}

#gallery-photos {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    /* aligns the photos in the center of the screen*/
    text-align: center}

#gym-logo {
    /* positioned only at the top left of the home page*/
    float: left;
    height: auto;
    margin-left: 20px;
    width: 400px}

#h2-paragraph {
    clear: both; /* so that text is automatically brougth down*/
    font-size: 50px;
    margin-bottom: auto;
    margin-top: 20px;
    text-align: center}

#header-links {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    width: 100%;
    padding-top: 10px;
    margin-top: 40;
    text-align: center}


#home-page {
    background-attachment: fixed;
    /* jpg background image*/
    background-image: 
    url('../images/pexels-cottonbro-7690454.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover}

/* classes start here*/
.advanced-header {
    border: 10px solid blue;
    border-radius: 20px;
    font-size: 35px;
    margin-bottom: 40px;
    padding-right: 25px;
    text-align: center}

.advanced-paragraph {
    border: 10px solid blue; /* radius helps to distinguish each membership*/
    border-radius: 5px;
    font-size: 25px;
    margin-top: 30px;
    padding-right: 20px;
    text-align: center}

.beginner-header {
    border: 10px solid blue;
    border-radius: 20px;
    font-size: 35px;
    margin-bottom: 40px;
    padding-left: 15px;
    text-align: center}

.beginner-paragraph {
    border: 10px solid blue;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 30px;
    padding-left: 25px;
    text-align: center}

/* other 3 pages have the same type of headers*/
.contact-header, .membership-header, .gallery-header {
    border-radius: 20px;
    clear: both;
    display: block;
    font-size: 80px;
    margin-bottom: 40px;
    text-align: center}

.contact-paragraph {
    border: solid 10px blue;
    border-radius: 20px;
    font-size: 30px;
    margin-top: 30px;
    text-align: center}

/* images used within the website*/
.gallery-thumb {
    /* so that the images have a distinct outline*/
    border: 7px solid blue;
    border-radius: 10px;
    /* gives feedback to the user that the image can be clicked*/
    cursor: pointer;
    /* so the image looks more like a square, not a rectangle*/
    height: 200px;
    object-fit: cover;
    transition: transform 0.2s ease; /* transition property for smoother effects*/
    width: 250px}

.gallery-thumb:hover {
    transform: scale(1.03)} /* allows for "effect" when image is hovered over*/

.intermediate-header {
    border: 10px solid blue;
    border-radius: 20px;
    font-size: 35px;
    margin-bottom: 40px;
    padding-left: 15px;
    text-align: center}

.intermediate-paragraph {
    border: 10px solid blue;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 30px;
    padding-left: 25px;
    text-align: center}

.membership {
    /* gradient background, different from webpage background*/
    background: linear-gradient(red, blue);
    border: 10px solid black;
    border-radius: 20px;
    color: white;
    display: inline-block; /* centers the button in the middle*/
    font-size: 100px; /* so that its large and pops out to the user*/
    left: 20px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer}/* done to improve usability*/

.membership:hover {
    /* when user hovers over, button is underlined*/
    text-decoration: underline}

.membership-card {
    border-radius: 4px; /* makes the box rounded*/
    flex: 1}

.membership-flex {
    /* displays the membership 1x3*/
    display: flex;
    /* the gap makes each membership distinguished*/
    gap: 30px;
    justify-content: space-between;
    padding: 0 40px}

.sub-text {
    font-size: 50px;
    margin-top: 30px;
    text-align: center}

nav li {
    /* arranges the links at the top of the screen*/
    display: inline-block}

nav li a {
    /* background color for the header links*/
    background: linear-gradient(135deg,
     #000000, blue);
    border: 5px solid black;
    border-radius: 10px;
    color: white;
    /* displays at the top of the screen*/
    display: inline-block;
    font-family: sans-serif;
    padding: 14px 16px;
    text-align: center;
    text-decoration:underline}

nav ul {
    /* arranges the header links 1x4*/
    display: flex;
    justify-content: center; /* Forces the links to the middle */
    align-items: center;
    gap: 70px; /* spacing in uniform */
    list-style: none;
    margin: 0;
    padding: 0}

.nav-li a:hover {
    -webkit-background-clip: text;
    /* ensures that only the background, not the text is gradient color*/
    -webkit-text-fill-color: transparent;
    /* background color is erased to indicate the user what link they are hovering on*/
    background: white;
    background-clip: text;
    color: transparent;
    /* indicates to the user that the links are actually being hovered over*/
    text-decoration: underline}

.sub-text {
    font-size: 40px;
    margin-top: 30px;
    text-align: center}

/* non classes/ids*/

body {
    color: white; /* consistant website color*/
    font-family: 'Oswald', sans-serif}/* consistant website font*/

footer {
    /* footer background color*/
    background: linear-gradient(to right, #0000ff,
     #ff0000, #2c4366);
    /* helps to separate it from the rest of the elements on screen*/
    border: 10px solid black;
    border-radius: 10px;
    /* color of the font is in line with the rest of the page*/
    clear: both;
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%}

/* header reserved for only the home page*/
h1 {
    clear: both;
    font-size: 60px;
    margin-bottom: 70px;
    text-align: center;}